session*
download/
venv/
*__pycache__/
*.pyc
*.apk
*.pyo
*.pyd
*.db
*.sqlite3
*.exe
*.rar
*.zip
*.tar.gz
*.iso
*.log
.DS_Store
.idea/
.vscode/
.env
.env.*
.ipynb_checkpoints/
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.db-journal
*.pot
*.mo
